<br><br>
<h1 class="header center blue-text">Privacy Negotiator</h1>
<div class="row center">
  <h5 class="header col s12 light">An automated way to manage privacy on multi-party photographs on Facebook.</h5>
</div>
<div class="row center">
  <div *ngIf="loading" class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

  <button *ngIf="!loading" class="btn-large waves-effect waves-light blue" (click)="loginWithFacebook()">Start!</button>
</div>
<br><br>
