<br><br>
<h1 class="header center blue-text">Privacy Manager</h1>
<div class="row center">
  <h5 class="header col s12 light">A way to manage collective privacy on Facebook.</h5>
</div>
<div class="row center">
  <div *ngIf="loading" class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

  <button *ngIf="!loading" class="btn-large waves-effect waves-light blue" (click)="loginWithFacebook()">Start!</button>
</div>
<div class="row center">
  <p>(Logs in with Facebook)</p>
  <p><a (click)="this.toggleLearnMore()" style="cursor: pointer;">More information</a></p>
</div>

<div *ngIf="learnMore" class="row animated fadeIn">
  <h3 class="header grey-text">Why?</h3>
  <p>When we upload photos to Facebook and tag our friends and family, only we, the uploader, can modify who can see those photos.
    This gives zero power to the people depicted in those photos to autonomously manage their privacy and in many cases their privacy is breached.
    No social network currently offers a way to collectively manage privacy between co-owners of media.
  </p>
  <h3 class="header grey-text">What this tool does</h3>
  <p>
    This web application utilises the <a href="https://developers.facebook.com/docs/graph-api" target="_blank">Facebook Graph API</a> to:
  </p>
  <ul class="browser-default">
    <li>Present photos that you are tagged in:
      <ul class="browser-default">
        <li>Greyscaled photos are publicly viewable and searchable by anyone. The uploaders of those need to authorize this tool for us to mediate on them.</li>
        <li>Coloured photos are considered <em>negotiable</em>. With these, you can:
          <ul class="browser-default">
            <li>View the users that are tagged.</li>
            <li>Modify the contexts of the photo. This is shared between all users.</li>
            <li>Add personal contexts to organise your photos your own way.</li>
            <li>View who is allowed to see the photo.</li>
            <li>View who is blocked from seeing the photo.</li>
            <li>View which co-owners are in conflict and whom they are in conflict over.</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>Present your friends (that have authorised this tool) with generated tie-strengths and generated cliques.
      <ul class="browser-default">
        <li>Cliques are determined by the Clique Percolation Method (CPM), and are stored in bipartites (<a href="https://arxiv.org/pdf/0805.1449.pdf" target="_blank">A sequential algorithm for fast clique percolation</a>).</li>
        <li>Tie-strengths are determined by similarities in Facebook profiles. See requested permissions below.</li>
        <li>You can manage your preferences for which contexts a clique is allowed to view.</li>
      </ul>
    </li>
  </ul>
  <h4 class="header grey-text">What this tool can't do</h4>
  <p>This tool is limited by any limitations that the <a href="https://developers.facebook.com/docs/graph-api" target="_blank">Facebook Graph API</a> exhibits.</p>
  <ul class="browser-default">
    <li>Present existing privacy settings for a photo. The Graph API does not allow privacy to be read from a photo. <sup><a href="#fn1" id="ref1">1</a></sup></li>
    <li>Show all friends. The Graph API only allows the tool to see friends that have mutually authorised it. <sup><a href="#fn2" id="ref2">2</a></sup></li>
    <li>The tie-strength algorithm does not take into account:
      <ul class="browser-default">
        <li>Friendship duration.</li>
        <li>Communication through Facebook Messenger.</li>
        <li>Granular details about education, work, location, likes (graduation year, concentration, date started etc.).</li>
      </ul>
    </li>
    <li>As this tool is only aware of mutually authorised friends, it is only able to apply a photo's privacy concerning those users it is aware of.</li>
    <li>Determine contexts for a photo automatically. This would be a whole other project as there currently isn't any AI that can interept photos well. They can describe objects but cannot decide on suitable contexts.</li>
  </ul>
  <p>I created this in a month with no test coverage so there may be some bugs. They should be resolved in further patches.</p>
  <img style="width:auto; max-height: 10em;" src="https://media.giphy.com/media/QQZgTehcKrD2w/giphy.gif"/>
  <p>
    <sup id="fn1">1. <a href="https://developers.facebook.com/docs/graph-api/reference/photo" target="_blank">https://developers.facebook.com/docs/graph-api/reference/photo</a></sup><br/>
    <sup id="fn2">2. <a href="https://developers.facebook.com/bugs/1502515636638396/" target="_blank">https://developers.facebook.com/bugs/1502515636638396/</a></sup>
  </p>
  <h4 class="header grey-text">Requested Facebook permissions</h4>
  <p>
    This tool only <strong>reads</strong> information from the Graph API. It will only ever <strong>write</strong> when applying a privacy policy to a photo.
  </p>
  <ul class="browser-default">
    <li><em>user_friends</em> - See your friends that also use the application to generate cliques and manage privacy policies</li>
    <li><em>user_photos</em> - See your photos to present them and store privacy policies</li>
    <li><em>user_posts</em> - See any photos published to your timeline</li>
    <li><em>user_education_history</em> - See your education history for tie-strength generation</li>
    <li><em>user_hometown</em> - See your hometown for tie-strength generation</li>
    <li><em>user_likes</em> - See your likes for tie-strength generation</li>
    <li><em>user_location</em> - See your location for tie-strength generation</li>
    <li><em>user_relationship_details</em> - See your relationship details for tie-strength generation</li>
    <li><em>user_relationships</em> - See your relationships for tie-strength generation</li>
    <li><em>user_religion_politics</em> - See your religion and politics for tie-strength generation</li>
    <li><em>user_work_history</em> - See your work history for tie-strength generation</li>
    <li><em>user_events</em> - See your events for tie-strength generation</li>
    <li><em>user_managed_groups</em> - See your groups for tie-strength generation</li>
  </ul>

</div>
<br><br>
