<h1 class="header center white-text">Privacy Policy</h1>
<div class="row animated fadeIn">
  <div class="col s12 m10 offset-m1">
    <div class="card-panel" style="font-weight:300;">
      <p>This tool utilises the following information from Facebook to generate relationship strengths by profile similarities:</p>
      <ul class="browser-default">
        <li>Education history</li>
        <li>Hometown</li>
        <li>Likes</li>
        <li>Location</li>
        <li>Relationship details</li>
        <li>Relationships</li>
        <li>Religion</li>
        <li>Politics</li>
        <li>Work history</li>
        <li>Events</li>
        <li>Groups</li>
      </ul>
      <p>This information is stored securely in a cache and is only accessed when calculating relationship strengths.</p>

      <p>This tool also utilises the following information from Facebook to present photos and perform community detection:</p>
      <ul class="browser-default">
        <li>Your tagged photos</li>
        <li>Your posts</li>
        <li>Your friends list</li>
      </ul>
      <p>IDs, tagged users and the uploader are the only properties sought and are stored securely in a cache and database. This information is only accessed when generating communities and performing conflict-detection.</p>

    <p>This tool also utilises the following information from Facebook to gather feedback on the application</p>
    <ul class="browser-default">
      <li>Facebook ID</li>
      <li>Facebook Photo ID</li>
    </ul>
    <p >This is only used to prevent spam. You can only submit feedback for an unique photo once or the overall tool once</p>
    </div>
  </div>

  <div class="col s12 m10 offset-m1">
    <div class="card-panel">
      <h3 class="header">Securing Data</h3>
      <p style="font-weight:300;">
        This tool uses TLS to secure data sent over HTTP and Web Sockets.
      </p>
      <p style="font-weight:300;">
        Non-identifiable information (feedback) will be used to evaluate this tool. Afterwards, all information collected will be destroyed at the end of this project life in September 2017. Only non-identifable information will be used for research in this project's scope
      </p>
    </div>
  </div>
</div>
