<div class="search-results row" infiniteScroll
     [infiniteScrollDistance]="0"
     [infiniteScrollThrottle]="300"
     (scrolled)="updateFriends()">

  <ul class="collection with-header animated fadeIn" *ngFor="let clique of friendService.getCliques()" style="z-index: 0; overflow: visible;">
    <li class="collection-header">
      <div *ngIf="clique.id === 'NA'">
        <span class="title">No group</span>
      </div>
      <div *ngIf="clique.id !== 'NA'" class="row no-pad-bot" style="margin-bottom: 0;">
        <div class="col s11">
            <div class="input-field col s12">
              <input id="clique_name" type="text" [disabled]="!clique.editing" [(ngModel)]="clique.name">
              <label class="active" for="clique_name">Clique name ({{clique.id}})</label>
            </div>
            <div class="col s12 m6">
              <p>Allowed contexts</p>
              <ul>
                <li class="valign-wrapper" style="display:inline-block; margin-right:1em;" *ngFor="let context of clique.contexts">
                  <input id="{{clique.id}}-{{context.name}}-cat" type="checkbox" class="filled-in" [(ngModel)]="context.isActive" [disabled]="!clique.editing"/>
                  <label for="{{clique.id}}-{{context.name}}-cat">{{context.name}}</label>
                </li>
              </ul>
          </div>
        </div>
        <div class="col s1">
          <a class="btn-floating btn-small waves-effect waves-light right" [ngClass]="{'orange': !clique.editing, 'red': clique.editing}" (click)="this.toggleEdit(clique.id)">
            <i class="material-icons left">
              <span *ngIf="!clique.editing">mode_edit</span>
              <span *ngIf="clique.editing">save</span>
            </i>
          </a>
        </div>
      </div>
    </li>
    <li style="min-height: 0;" class="collection-item avatar" *ngFor="let friend of clique.getFriends()">
      <img style="width:25px; height:25px;" src="{{friend.picture}}" alt="" class="circle">
      <span class="title">{{friend.name}}</span>
      <span class="new badge blue" data-badge-caption="similarity">{{ friend.tieStrength }}</span>
    </li>
  </ul>

  <div *ngIf="lock" class="progress">
    <div class="indeterminate blue"></div>
  </div>

</div>
