<div class="search-results row" infiniteScroll
     [infiniteScrollDistance]="0"
     [infiniteScrollThrottle]="300"
     (scrolled)="updateFriends()">

  <ul class="collection with-header animated fadeIn" *ngFor="let clique of friendService.getCliques()">
    <li class="collection-header">
      <div class="row no-pad-bot" style="margin-bottom: 0;">
        <div class="col s11">
          <span class="title">
            <div class="input-field col s12 m6">
              <input id="clique_name" type="text" [disabled]="!clique.editing" [(ngModel)]="clique.name">
              <label class="active" for="clique_name">Clique Name</label>
            </div>
          </span>
        </div>
        <a class="btn-floating btn-small waves-effect waves-light right" (click)="this.toggleEdit(clique.id)">
          <i class="material-icons left">
            <span *ngIf="!clique.editing">mode_edit</span>
            <span *ngIf="clique.editing">save</span>
          </i>
        </a>
      </div>
    </li>
    <li style="min-height: 0;" class="collection-item avatar" *ngFor="let friend of clique.getFriends()">
      <img style="width:25px; height:25px;" src="{{friend.picture}}" alt="" class="circle">
      <span class="title">{{friend.name}}</span>
      <span class="new badge" data-badge-caption="strength">(tie)</span>
    </li>
  </ul>

  <div *ngIf="lock" class="progress">
    <div class="indeterminate blue"></div>
  </div>

</div>
