<div class="search-results row" infiniteScroll
     [infiniteScrollDistance]="0"
     [infiniteScrollThrottle]="300"
     (scrolled)="updateFriends()">

  <ul class="collection with-header" *ngFor="let clique of friendService.getCliques()">
    <li class="collection-header"><h4>{{ clique.name }} - {{ clique.id }}</h4></li>
    <li class="collection-item avatar" *ngFor="let friend of clique.getFriends()">
      <img src="{{friend.picture}}" alt="" class="circle">
      <span class="title">{{friend.name}}</span>
      <p>{{friend.id}}</p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>

  <div *ngIf="lock" class="progress">
    <div class="indeterminate blue"></div>
  </div>

</div>
