
<div class="row" *ngIf="this.photo">

  <div class="col s12 l6 center">
    <img class="responsive-img" style="max-width:100%; max-height: 500px;" src="{{photo.url}}" />
  </div>

  <div class="col s12 l6">
    <ul class="collection with-header">
      <li class="collection-header blue white-text"><span class="badge white-text">{{photo.taggedUsers.length}}</span>Tagged Users</li>
      <li style="min-height: 0;" class="collection-item avatar" *ngFor="let taggedUser of photo.taggedUsers">
        <img style="width:25px; height:25px;" src="{{taggedUser.picture}}" alt="" class="circle">
        <span class="title">{{taggedUser.name}}</span>
        <span *ngIf="isInConflict(taggedUser)" data-badge-caption="" class="new orange badge">in conflict</span>
      </li>
    </ul>
  </div>

  <div class="col s12">
    <a class="btn-floating btn-small waves-effect waves-light left" (click)="this.toggleEdit()" [ngClass]="{'orange': !editing, 'red': editing}" >
      <i class="material-icons left">
        <span *ngIf="!editing">mode_edit</span>
        <span *ngIf="editing">save</span>
      </i>
    </a>
  </div>
  <div class="col s12">
    <ul>
      <li class="valign-wrapper" style="display:inline-block; margin-right:1em;" *ngFor="let category of this.getCategories()">
        <input id="{{category.name}}-cat" type="checkbox" class="filled-in" [(ngModel)]="category.isActive" [disabled]="!this.editing"/>
        <label for="{{category.name}}-cat">{{category.name}}</label>
      </li>
    </ul>
  </div>

</div>

<div *ngIf="photo.allowedUsers.length > 0 || photo.blockedUsers.length > 0" class="row">
  <div class="col s12 l4">
    <ul class="collection with-header">
      <li class="collection-header green white-text"><span class="badge white-text">{{photo.allowedUsers.length}}</span>Allowed Users</li>
      <li style="min-height: 0;" class="collection-item avatar" *ngFor="let allowedUser of photo.allowedUsers">
        <img style="width:25px; height:25px;" src="{{allowedUser.picture}}" alt="" class="circle">
        <span class="title">{{allowedUser.name}}</span>
      </li>
    </ul>
  </div>
  <div class="col s12 l4">
    <ul class="collection with-header">
      <li class="collection-header purple white-text"><span class="badge white-text">{{photo.conflicts.length}}</span>Conflicting Users</li>
      <li style="min-height: 0;" class="collection-item avatar" *ngFor="let conflict of photo.conflicts">
        <div class="row" style="margin-bottom: 0;">
          <div class="col s12">
            <img style="width:25px; height:25px;" src="{{conflict.target.picture}}" alt="" class="circle">
            <span class="title">{{conflict.target.name}}</span>
          </div>
          <div class="col s12">
            <table style="font-size: 8pt;">
              <tr *ngFor="let reason of conflict.reasoning">
                <td style="padding: 0;">{{reason.user.name}}</td><td style="padding: 0;">{{reason.vote}}</td>
              </tr>
            </table>
            <span style="font-size: 8pt;">
              <strong>Recommendation</strong>:
              <span
                [ngClass]="{
                'green-text': conflict.result == 'allow',
                'red-text': conflict.result == 'block',
                'orange-text': conflict.result == 'indeterminate'
                }"
              >{{conflict.result}}</span>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col s12 l4">
    <ul class="collection with-header">
      <li class="collection-header red white-text"><span class="badge white-text">{{photo.blockedUsers.length}}</span>Blocked Users</li>
      <li style="min-height: 0;" class="collection-item avatar" *ngFor="let blockedUser of photo.blockedUsers">
        <img style="width:25px; height:25px;" src="{{blockedUser.picture}}" alt="" class="circle">
        <span class="title">{{blockedUser.name}}</span>
      </li>
    </ul>
  </div>
</div>
