<div class="search-results row" infiniteScroll
[infiniteScrollDistance]="0"
[infiniteScrollThrottle]="300"
(scrolled)="updateTaggedPhotos()">
  <div class="col s12 m6 l4" *ngFor="let photo of getTaggedPhotos()">
    <div class="card small" [ngClass]="{'grey': !photo.negotiable, 'hoverable sticky-action': photo.negotiable}">
      <div class="card-image" [ngClass]="{'waves-effect waves-block waves-light': photo.negotiable}">
        <img [ngClass]="{'blur': !photo.negotiable, 'activator': photo.negotiable }"  src="{{photo.url}}">
        <span class="card-title"></span>

      </div>
      <div class="card-content">
        by: {{photo.from.name}}
      </div>
      <div class="card-action">
        <span *ngIf="photo.negotiable">
          <i class="fa fa-tags" aria-hidden="true" ></i> {{photo.taggedUsers.length}}

          <a class="right" (click)="this.selectPhoto(photo)">View</a>
        </span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{photo.id}}<i class="material-icons right">close</i></span>
        at: {{photo.createdTime}}<br />
        album: {{photo.albumId}}

      </div>
    </div>
  </div>

  <div *ngIf="lock" class="progress">
    <div class="indeterminate blue"></div>
  </div>

</div>
