<div class="search-results row" infiniteScroll
[infiniteScrollDistance]="0"
[infiniteScrollThrottle]="300"
(scrolled)="updateTaggedPhotos()">
  <div class="col s12 m6 l4" *ngFor="let photo of getTaggedPhotos()">
    <div class="card small" [ngClass]="{'grey': !photo.negotiable, 'hoverable sticky-action': photo.negotiable}">
      <div class="card-image" [ngClass]="{'waves-effect waves-block waves-light': photo.negotiable}" (click)="this.selectPhoto(photo)">
        <img [ngClass]="{'blur': !photo.negotiable, 'activator': photo.negotiable }"  src="{{photo.url}}">
        <span class="card-title"></span>
      </div>
      <div class="card-content">
        by: {{photo.from.name}}
      </div>
      <div class="card-action">
        <div *ngIf="photo.negotiable" class="valign-wrapper">
          <i class="material-icons">tag_faces</i> {{photo.taggedUsers.length}}
          <i class="material-icons">folder</i> {{photo.categories.length}}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="lock" class="progress">
    <div class="indeterminate blue"></div>
  </div>

</div>
