<div class="row" style="margin-bottom: 0;">
  <div class="col s12">
    <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons right">help</i>Help</div>
        <div class="collapsible-body white">
          <p style="font-weight:300;">
            This page shows whom is tagged in a photo and allows you to manage the contexts a photo has. Any tagged user can manage the global <a routerLink="/contexts">contexts</a>. <br />
            Upon saving contexts, the tool will determine whom is allowed or blocked from viewing the photo from the tagged user's policies they have defined for their friends.
            Any conflicts detected will be shown with a recommendation based off the generated relationship strength between users.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row" *ngIf="this.photo">

  <div class="col s12 l6">
    <div class="card">
      <div class="card-image center">
        <img style="max-width:100%; max-height: 500px;" src="{{photo.url}}" />
      </div>
      <div class="card-content">
        <div class="row" style="margin-bottom: 0;" *ngIf="photo.conflicts.length > 0">
          <div class="col s6 l4">
            <a
              class="waves-effect waves-light btn pink animated tada"
              style="font-size: 9pt; padding:0 1rem;"
              (click)="photoFeedback(photo.id)"
            >
              <i class="material-icons left">feedback</i>Photo Feedback
            </a>
          </div>
          <div class="col s6 l8 left-align pink-text animated tada">
            Please leave feedback for this photo.
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col s12 l6">
    <ul class="collection with-header">
      <li class="collection-header blue white-text"><span class="badge white-text">{{photo.taggedUsers.length}}</span>Tagged Users</li>
      <li style="min-height: 0;" class="collection-item avatar" *ngFor="let taggedUser of photo.taggedUsers">
        <img style="width:25px; height:25px;" src="{{taggedUser.picture}}" alt="" class="circle">
        <span class="title">{{taggedUser.name}}</span>
        <span *ngIf="isInConflict(taggedUser)" data-badge-caption="" class="new orange badge">in conflict</span>
      </li>
    </ul>
  </div>
</div>

<div class="row" *ngIf="this.photo">
  <div class="card">
    <div class="card-content">
      <div class="row" style="margin-bottom: 0;">
        <div class="col s2 m1">
          <a class="btn-floating btn-small waves-effect waves-light left" (click)="this.toggleEdit()" [ngClass]="{'orange': !editing, 'red': editing}" >
            <i class="material-icons left">
              <span *ngIf="!editing">mode_edit</span>
              <span *ngIf="editing">save</span>
            </i>
          </a>
        </div>
        <div class="col s10 m11 valign-wrapper">
          <span class="card-title" style="line-height: inherit; margin-bottom: 0;">Contexts</span>
        </div>
        <div class="col s12">
          <ul>
            <li class="valign-wrapper" style="display:inline-block; margin-right:1em;" *ngFor="let context of this.getContexts()">
              <input id="{{context.name}}-cat" type="checkbox" class="filled-in" [(ngModel)]="context.isActive" [disabled]="!this.editing"/>
              <label for="{{context.name}}-cat">{{context.name}}</label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.photo && (photo.allowedUsers.length > 0 || photo.blockedUsers.length > 0)" class="row">
  <div class="col s12 l4">
    <ul class="collection with-header">
      <li class="collection-header green white-text"><span class="badge white-text">{{photo.allowedUsers.length}}</span>Allowed Users</li>
      <li style="min-height: 0;" class="collection-item avatar" *ngFor="let allowedUser of photo.allowedUsers">
        <img style="width:25px; height:25px;" src="{{allowedUser.picture}}" alt="" class="circle">
        <span class="title">{{allowedUser.name}}</span>
      </li>
    </ul>
  </div>
  <div class="col s12 l4">
    <ul class="collection with-header">
      <li class="collection-header purple white-text"><a (click)="toggleConflictHelp()"><span class="badge white-text" style="cursor: pointer">?</span></a>Conflicting Users</li>
      <li *ngIf="showConflictHelp" class="collection-item" style="font-size: 8pt;">
        This shows the conflicting user's votes where a negative value is a block vote and a positive value is an allow vote. The weight of a user's vote is their generated relationship strength.
      </li>
      <li style="min-height: 0;" class="collection-item avatar" *ngFor="let conflict of photo.conflicts">
        <div class="row" style="margin-bottom: 0;">
          <div class="col s12">
            <img style="width:25px; height:25px;" src="{{conflict.target.picture}}" alt="" class="circle">
            <span class="title">{{conflict.target.name}}</span>
          </div>
          <div class="col s12">
            <table style="font-size: 8pt;">
              <tr *ngFor="let reason of conflict.reasoning">
                <td style="padding: 0;">{{reason.user.name}}</td><td style="padding: 0;">{{reason.vote}}</td>
              </tr>
            </table>
            <span style="font-size: 8pt;">
              <strong>Recommendation</strong>:
              <span
              [ngClass]="{
                'green-text': conflict.result == 'allow',
                'red-text': conflict.result == 'block',
                'orange-text': conflict.result == 'indeterminate'
              }"
              >{{conflict.result}}</span>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col s12 l4">
    <ul class="collection with-header">
      <li class="collection-header red white-text"><span class="badge white-text">{{photo.blockedUsers.length}}</span>Blocked Users</li>
      <li style="min-height: 0;" class="collection-item avatar" *ngFor="let blockedUser of photo.blockedUsers">
        <img style="width:25px; height:25px;" src="{{blockedUser.picture}}" alt="" class="circle">
        <span class="title">{{blockedUser.name}}</span>
      </li>
    </ul>
  </div>
</div>
