
<div class="row" *ngIf="this.photo">

  <div class="col s12 m10 offset-m1">
    <img style="max-width:100%;" src="{{photo.url}}" />
  </div>

  <a class="waves-effect waves-light btn" (click)="this.toggleEdit()">
    <i [ngClass]="{'fa-pencil': !this.editing, 'fa-floppy-o': this.editing}" class="fa left" aria-hidden="true"></i>
    <span *ngIf="!this.editing">Edit</span><span *ngIf="this.editing">Save</span>
  </a>
</div>
<div class="row">
  <ul>
    <li *ngFor="let category of this.getCategories()">
      <input id="{{category.name}}-cat" type="checkbox" class="filled-in" [(ngModel)]="category.isActive" [disabled]="!this.editing"/>
      <label for="{{category.name}}-cat">{{category.name}}</label>
    </li>
    <li>
      <form (ngSubmit)="onAddNewCategory()">
        <div class="input-field col s6">
        <input id="category_new" type="text" [disabled]="!this.editing" [(ngModel)]="this.newCategoryName" name="category">
        <label class="active" for="category_new">New category</label>
        </div>
      </form>
    </li>
  </ul>
</div>
