<div class="row">
  <form class="col s12">
    <div class="row" *ngIf="photo.id">
      <div class="input-field col s12 m10 l8 offset-m1 offset-l2">
        <input disabled value="{{survey.photoID}}" id="disabled" type="text">
        <label class="active" for="disabled">Photo ID</label>
      </div>
    </div>
    <div class="row" *ngIf="photo.contexts.length > 0">
      <!-- About the conflict -->


    </div>

    <div class="row">

      <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>

  </form>
</div>
