<div class="row">
  <form class="col s12">
    <!-- Q1 -->
    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <div class="row">
            <h5>At least every greyscale photo presented by this tool is
              publicly searchable and viewable by everyone. Has this tool
              given you more awareness of cases that undesirably breach your
              privacy? (i.e. A photo is publicly viewable that you weren't aware
              of)</h5>
            <p *ngFor="let option of survey.q1Choices">
              <input
                name="q1"
                type="radio"
                [(ngModel)]="survey.q1Answer"
                id="q1-{{option.id}}"
                value="{{option.description}}"
                required
              >
              <label for="q1-{{option.id}}" class="grey-text text-darken-3">{{option.description}}</label>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Q2 -->
    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <div class="row">
            <h5>What is your current sharing preference on Facebook?</h5>
            <p *ngFor="let option of survey.q2Choices">
              <input
                name="q2"
                type="radio"
                [(ngModel)]="survey.q2Answer"
                id="q2-{{option.id}}"
                value="{{option.description}}"
                required
              >
              <label for="q2-{{option.id}}" class="grey-text text-darken-3">{{option.description}}</label>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Q3 -->
    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <div class="row">
            <h5>How do you usually resolve conflicts with photos that you upload or are tagged in?</h5>
            <p *ngFor="let option of survey.q3Checkboxes">
              <input
                name="q3"
                type="checkbox"
                [(ngModel)]="option.selected"
                id="q3-{{option.id}}"
                value="{{option.description}}"
              >
              <label for="q3-{{option.id}}" class="grey-text text-darken-3">{{option.description}}</label>
            </p>
            <div class="input-field col s12" *ngIf="survey.q3Checkboxes[5].selected">
              <input
                type="text"
                id="q3Other"
                name="q3Other"
                class="materialize-textarea"
                [(ngModel)]="survey.q3Other"
                required/>
              <label for="q3Other">Other?</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Q4 -->
    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <div class="row">
            <h5>Do you think that your Facebook profile represents yourself and your relationships accurately?</h5>
            <p *ngFor="let option of survey.q4Choices">
              <input
                name="q4"
                type="radio"
                [(ngModel)]="survey.q4Answer"
                id="q4-{{option.id}}"
                value="{{option.description}}"
                required
              >
              <label for="q4-{{option.id}}" class="grey-text text-darken-3">{{option.description}}</label>
            </p>
            <div class="input-field col s12" *ngIf="survey.q4Answer == 'No'">
              <textarea
                id="q4Why"
                name="q4Why"
                class="materialize-textarea"
                [(ngModel)]="survey.q4Why"></textarea>
              <label for="q4Why">If No, why?</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Q5 -->
    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <div class="row">
            <h5>How important do you think these are for quantifying a relationship with someone? (how close you are to someone)</h5>
            <div class="col s12">
              <p class="center-align"><strong>1</strong> is unimportant<br/><strong>5</strong> is very important</p>
            </div>
            <div class="col s12" >
              <ul class="collection">
                <li
                  class="collection-item"
                  *ngFor="let option of survey.q5Parts"
                >
                  <div class="row">
                    <div class="col s12 m4">
                      {{option.description}}
                    </div>
                    <div class="col s12 m8">
                      <div class="row" style="margin-bottom:0;">
                        <div class="col s2 l2" *ngFor="let i of [1,2,3,4,5]">
                          <input
                          name="q5-{{option.id}}"
                          type="radio"
                          id="q5-{{option.id}}-{{i}}"
                          [(ngModel)]="option.value"
                          [value]="i"
                          [checked]="option.value==i"
                          required
                          >
                          <label
                          for="q5-{{option.id}}-{{i}}"
                          class="grey-text text-darken-3"
                          >{{i}}</label>
                      </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Q6 -->
    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <div class="row">
            <h5>How could this tool be improved?</h5>
            <div class="input-field col s12">
              <textarea
              id="q6Answer"
              name="q6Answer"
              class="materialize-textarea"
              [(ngModel)]="survey.q6Answer"
              required
              ></textarea>
              <label for="q6Answer">Response</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Q7 -->
    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <div class="row">
            <h5>Any further comments?</h5>
            <div class="input-field col s12">
              <textarea
                id="q7Answer"
                name="q7Answer"
                class="materialize-textarea"
                [(ngModel)]="survey.q7Answer"
                required></textarea>
              <label for="q7Answer">Response</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <button class="btn waves-effect waves-light right green center col s12" type="submit" name="action">Submit
      </button>
    </div>

  </form>
</div>
