<nav class="grey darken-3" role="navigation">
  <div class="nav-wrapper">
    <a id="logo-container" class="brand-logo" style="padding-left: 0.5em;">Privacy Manager</a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="sessionService.isAuthenticated()" ><a routerLink="/categories" routerLinkActive="active">Categories <i class="material-icons left">folder</i></a></li>
      <li *ngIf="sessionService.isAuthenticated()" ><a routerLink="/photos" routerLinkActive="active">Photos <i class="material-icons left">photo_library</i></a></li>
      <li *ngIf="sessionService.isAuthenticated()" ><a routerLink="/friends" routerLinkActive="active">Friends <i class="material-icons left">people</i></a></li>
        <li *ngIf="sessionService.isAuthenticated()" ><a class="valign-wrapper">
          <div style="padding-right: 0.5em;">Hi, {{sessionService.getUser().firstName}}!</div>
          <img src="{{sessionService.getUser().picture}}" alt="" class="circle right" style="width:35px; height:35px;">
        </a>
        </li>
      <li class="info" (click)="cycleInfo()"><a>
        <div class="col s12 center-align">
          API: <span class="new badge" [ngClass]="{'green': apiStatus==='OK', 'red': apiStatus==='OFFLINE', 'orange': apiStatus==='BUSY'}" data-badge-caption="">{{apiStatus}}</span>
        </div>
        <div class="col s12 center-align">
          <span *ngIf="info==0">v.{{version}}</span>
          <span *ngIf="info==1">ping: {{latency}} ms</span>
          <span *ngIf="info==2">queued: {{queueSize}}</span>
        </div>
      </a>
      </li>
      <li>
          <div><a>
            <div class="col s12 center-align" style="line-height: 20px;">
              <fb-share href="https://github.com/zyra/ng2-facebook-sdk/" size="small" colorScheme="dark"></fb-share><br />
            </div>
            <div class="col s12 center-align" style="line-height: 20px;">
              <fb-like
                href="https://www.facebook.com/socialprivacymanager/"
                colorScheme="dark"
                layout="button_count"
                size="small"
              ></fb-like>
            </div>
            <div class="col s12 center-align" style="line-height: 20px;">
              <fb-send href="https://github.com/zyra/ng2-facebook-sdk/" size="small" colorScheme="dark"></fb-send><br />
            </div>
          </a>
          </div>
      </li>
    </ul>
    <ul *ngIf="sessionService.isAuthenticated()" id="nav-mobile" class="side-nav">
      <li><div class="user-view">
        <div class="background">
          <img class="responsive-img" src="{{sessionService.getUser().coverPicture}}">
        </div>
        <a><img class="circle" style="width:35px; height:35px;" src="{{sessionService.getUser().picture}}" ></a>
        <a><span class="name" [ngClass]="{ 'black-text': !sessionService.getUser().coverPicture }">Hi, {{sessionService.getUser().firstName}}!</span></a>
        <a><span class="email"></span></a>
      </div></li>
      <li><a routerLink="/categories" routerLinkActive="active">Categories <i class="material-icons left">folder</i></a></li>
      <li><a routerLink="/photos" routerLinkActive="active">Photos <i class="material-icons left">photo_library</i></a></li>
      <li><a routerLink="/friends" routerLinkActive="active">Friends <i class="material-icons left">people</i></a></li>
      <li><div class="divider"></div></li>
      <li><a class="valign-wrapper center-align"><fb-share href="https://github.com/zyra/ng2-facebook-sdk/" size="large"></fb-share></a></li>
      <li><a class="valign-wrapper center-align"><fb-like
        href="https://www.facebook.com/socialprivacymanager/"
        colorScheme="light"
        layout="button_count"
        size="small"
      ></fb-like></a></li>
    </ul>
    <a *ngIf="sessionService.isAuthenticated()" materialize="sideNav" [materializeParams]="[{edge:'left', closeOnClick: true}]" (click)="parseFB()" class="button-collapse" data-activates="nav-mobile">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>

<div class="section no-pad-bot">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
