<nav class="blue" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" class="brand-logo">Privacy Manager</a>
    <ul class="right hide-on-med-and-down">
        <li *ngIf="authService.isAuthenticated()" ><a routerLink="/photos" routerLinkActive="active">Photos <i class="material-icons left">photo_library</i></a></li>
        <li *ngIf="authService.isAuthenticated()" ><a routerLink="/friends" routerLinkActive="active">Friends <i class="material-icons left">people</i></a></li>
        <li *ngIf="authService.isAuthenticated()" ><a class="valign-wrapper">
          <div style="padding-right: 0.5em;">Hi, {{authService.getUser().name.split(" ")[0]}}!</div>
          <img src="{{authService.getUser().picture}}" alt="" class="circle right" style="width:35px; height:35px;">
        </a>
        </li>
      <li class="info" (click)="cycleInfo()"><a>
        <div class="col s12 center-align">
          API: <span class="new badge" [ngClass]="{'green': apiStatus==='OK', 'red': apiStatus==='OFFLINE', 'orange': apiStatus==='BUSY'}" data-badge-caption="">{{apiStatus}}</span>
        </div>
        <div class="col s12 center-align">
          <span *ngIf="info==0">v.{{version}}</span>
          <span *ngIf="info==1">ping: {{latency}} ms</span>
          <span *ngIf="info==2">queued: {{queueSize}}</span>
        </div>
      </a>
      </li>
    </ul>
    <ul *ngIf="authService.isAuthenticated()" id="nav-mobile" class="side-nav">
      <li><div class="user-view">
        <div class="background">
          <img class="responsive-img" src="{{authService.getUser().coverPicture}}">
        </div>
        <a><img class="circle" style="width:35px; height:35px;" src="{{authService.getUser().picture}}" ></a>
        <a><span class="name">Hi, {{authService.getUser().name.split(" ")[0]}}!</span></a>
        <a><span class="email"></span></a>
      </div></li>
      <li><a routerLink="/photos" routerLinkActive="active">Photos <i class="material-icons left">photo_library</i></a></li>
      <li><a routerLink="/friends" routerLinkActive="active">Friends <i class="material-icons left">people</i></a></li>
    </ul>
    <a *ngIf="authService.isAuthenticated()" materialize="sideNav"  class="button-collapse" data-activates="nav-mobile">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>

<div class="section no-pad-bot">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
