<div class="row">
  <ul class="collection with-header animated fadeIn">
    <li class="collection-header green white-text">
      <span class="title">Global Contexts</span>
    </li>
    <li class="collection-item" *ngFor="let context of getGlobalContexts()">
      <span class="title">{{context.name}}</span>
    </li>
  </ul>
</div>

<div class="row">
  <ul class="collection with-header animated fadeIn">
    <li class="collection-header blue white-text">
      <span class="title">Personal Contexts</span>
    </li>
    <li class="collection-item" *ngFor="let context of getPersonalContexts()">
      <span class="title">{{context.name}}</span>
    </li>
    <li>
      <div class="row valign-wrapper" style="margin: 0;">
        <div class="col s11">
          <div class="input-field col s12">
            <input id="context_name" type="text" [disabled]="!editing" [(ngModel)]="newContext.name">
            <label class="active" for="context_name">Context name</label>
          </div>
        </div>
        <div class="col s1">
          <a class="btn-floating btn-small waves-effect waves-light right" [ngClass]="{'orange': !editing, 'red': editing}" (click)="this.toggleEdit()">
            <i class="material-icons left">
              <span *ngIf="!editing">add</span>
              <span *ngIf="editing">save</span>
            </i>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
